[2013-07-24 12:31] mw44118 opened #1 "pg_view.py tries to connect to non-existent database"
I made a config file with this stuff inside:

[code]

This is how I run pg_view.py:

[code]

[2013-07-24 13:02] #1 closed, assigned to alexeyklyukin

[2013-07-26 04:01] collinpeters opened #2 "IndexError: list index out of range"
Getting the following exception. Hopefully a configuration issue. This is on a slave running 9.1 on Debian Squeeze

Traceback (most recent call last):
  File "pg_view.py", line 2888, in main
    loop(collectors, groups, output_method)
  File "pg_view.py", line 2450, in loop
    curses.wrapper(do_loop, groups, output_method, collectors)
  File "/usr/lib/python2.6/curses/wrapper.py", line 43, in wra

[2013-07-26 07:35] #2 closed, assigned to alexeyklyukin

[2013-07-27 16:41] joevandyk opened #3 "error: curs_set() returned ERR"
I'm sure my python/curses setup is wonky, but I have no idea about where to start debugging. Any ideas?

[code]

[2013-07-29 07:24] #3 closed, assigned to alexeyklyukin

[2013-08-30 13:54] danjrichards opened #4 "Column 42 is not optional, but input row has no value for it"
This is very useful - thanks!
Works fine, but logs the following error hundreds of times per second:
ERROR: 2013-08-30 14:36:30,033 Column 42 is not optional, but input row has no value for it

I added a logger.info statement at line 376:
logger.info('col: %s' % repr(col))

INFO: 2013-08-30 14:40:15,167 col: {'in': 42, 'fn': <function ticks_to_seconds at 0x16106a28>, 'out': 'guest_time'}

cat /pro

[2013-09-03 11:56] #4 closed, assigned to nobody

[2013-09-04 03:57] collinpeters opened #5 "Column Buffers is not optional, but input row has no value for it"
Similar to issue #4 but I don't know Python well enough to add any extra debugging. Let me know how I can help debug. This is pg 9.1 on Debian Squeeze.

[2013-09-05 12:03] #5 closed, assigned to alexeyklyukin

[2013-09-05 17:54] collinpeters opened #6 "Output error: not all arguments converted during string formatting"
I get the following dumped to screen continuously. So every tick it outputs the following to the screen only, not the log file

Traceback (most recent call last):
File "/usr/lib/python2.6/logging/**init**.py", line 776, in emit
             msg = self.format(record)
                                        File "/usr/lib/python2.6/logging/**init**.py", line 654, in format

[2013-09-17 15:44] #6 closed, assigned to nobody

[2013-12-20 15:46] DaniloE opened #7 "Problem with PG 9.3"
Hi there,

i tried to run pg_view with PG 9.3, but there i always got the message "No suitable PostgreSQL instances detected, exiting...". I found the reason for the issue and I think it's the easiest way, when i post you my diff:

[code]

I hope that helps, if it's a configuration-problem on my instance, sorry for the post.
I'm using the official repo from PG for the Installation and started the

[2014-01-30 17:11] #7 closed, assigned to alexeyklyukin

[2014-04-14 10:03] forall opened #9 "Monitor postgresql running on different server"
Hi,

I want to monitor a postgresql server from my computer, but this program check a pid file but servers is running on different hosts. I connect to the host with ssh and create tunnel. It's possible to fix this problem?

[2014-04-22 12:18] #9 closed, assigned to nobody

[2014-05-05 14:16] alexeyklyukin opened #10 "Autodetection fails if full path to the data directory is not inside the command line."
i.e.
pg_ctl -D /tmp/test can be detected by pg_view, but
pg_ctl -D test fails.

This is due to the fact that /proc/*/cmdline is used to get the data directory, and from there we can get other options (i.e. port, unix_socket_directory and so on).

We might need to invoke the more robust detection strategy, i.e. try to looks for a unix socket file in /tmp or connect to localhost with some well known

[2014-05-09 11:42] hfriedr opened #11 "Three times the same output for three postmaster processes"
When running pg_view 1.1.0 on a box running three postmaster processes on various ports (PostgreSQL 9.2), we seem to get three times the same output, including three times the exact same process ID's.  Is there something wrong with multi-postmaster support?
![pg_view](https://cloud.githubusercontent.com/assets/7047440/2927729/64e1f52c-d771-11e3-8664-2dbbe576f810.png)

(I edited the script slightly

[2014-06-11 16:25] #10 closed, assigned to nobody

[2014-06-11 16:27] #11 closed, assigned to nobody

[2014-10-30 10:21] kmoppel opened #12 "Cluster ordering on multi-clusters machines"
Currently seems there is no ordering, but would be nice to have it:)

---

 rest93 9.3 master database connections: 110 of 800 allocated,                1 active
 type dev    fill   total    left   read  write    await path_size path
 data dm-0    0.0   2.1TB 239.1GB   10.4    1.0   6897.1    47.8GB /data1/postgres/pgsql_rest93/9.3/data
 xlog sda9    0.0 119.4GB  71.9GB    0.0    0.3      6.2

[2015-05-12 12:59] ilrico opened #15 "doesn't work on python3"
hi, since python3 is becoming mainstream, what about porting it from current release ? i'm sure it would be appreciated.
thx for this project anyway.

[2015-06-19 20:02] rjuju opened #16 "postgres as default user and database when autodetection"
Hello,

When no configuration file is provided to pg_view, all the autodetection mechanism is done with "postgres" for user and database (see psycopg2.connect calls in main() and can_connect_with_connection_arguments() functions).

I think it would be better to do like standard postgresql clients, meaning detecting $PGUSER and $PGDATABASE and failback to system username if the environment variable

[2015-06-19 20:56] alexeyklyukin commented on #16
Hi Julien,

On Fri, Jun 19, 2015 at 11:02 PM, Julien Rouhaud <notifications@github.com>
wrote:

Makes sense. The auto detection is pretty much tailored for Zalando
use-case...

Absolutely!

Kind regards,
Oleksii

[2015-06-19 21:22] rjuju commented on #16
Hi Oleksii,

Thanks for the quick answer, and I'm glad you welcome this change!

I just sent a pull request to implement it.

As I'm not a python developper, feel free to make any change if there was any issue I didn't spot with this patch.

Best regards.

[2015-06-24 06:21] alexeyklyukin commented on #16
Hi Julien,

The patch looks good, I've merged your pull request.
Thank you very much!

[2015-06-24 06:21] #16 closed

[2015-06-24 06:32] alexeyklyukin commented on #15
Hi,

pg_view is compatible with python3 since ffc94568b8fe7d9173a2a8100c9fefd815e04d82, kudos to @CyberDem0n

[2015-06-24 06:32] #15 closed

[2015-06-24 07:35] hjacobs commented on #15
yeah, Python3 everywhere!

[2015-06-24 07:38] hjacobs opened #18 "pg_view should have automated builds on Travis CI including flake8 checking"
I think pg_view should follow best-practices such as automated CI builds and flake8 formatting (with max-line-length=120).

Unit tests could start with very basic doctests at first and could be extended using py.test later.

[2015-06-24 07:39] hjacobs commented on #18
BTW, Travis CI builds could also verify compatibility with Python 2.7 and Python 3, see https://github.com/zalando-stups/berry/blob/master/.travis.yml as example.

[2015-06-24 07:41] hjacobs opened #19 "Distribute pg_view via PyPI"
Distributing pg_view as a PyPI package (installable via PIP) would make it even easier for people to try it out or adopt it :-)

[2015-06-24 14:38] valgog commented on #19
Very good idea!

[2015-06-24 20:47] hjacobs opened #23 "README.md should be converted to README.rst for correct formatting on PyPI"
PyPI uses ReStructured Text, so we should use it in the README too.

Right now the "long description" looks broken (Markdown): https://pypi.python.org/pypi/pg-view

[2015-06-24 21:06] hjacobs commented on #19
First version uploaded: https://pypi.python.org/pypi/pg-view

[2015-06-26 10:27] hjacobs commented on #23
AFAIK @alexeyklyukin is already working on it :-)

[2015-06-26 10:27] hjacobs commented on #18
done, including badges

[2015-06-26 10:27] #18 closed

[2015-07-16 09:25] kmoppel opened #25 "Locking information shown duplicated for one pid"
Doesn't make too much sense probably as there is no information about different lock types given.

pid | lock
5250 | 41921,41921

[2015-07-16 13:16] kmoppel opened #26 "A separate view for blocking/blocked queries"
Would be nice to have something like "Waiting/Blocking" queries screens in [pg_activity](https://github.com/julmon/pg_activity) but on one page and as a tree maybe. Asides from that a TPS counter would also be nice :)

[2015-07-24 15:42] spritchard opened #27 "ERROR messages in log Column X is not optional, but input row has no value for it"
When I run pg_view 1.2.0, I get a number of error messages in the log file of the form:

The problem appears to be that the first time that the df data is used the data returned is empty. On subsequent occasions the data is present, and there are no further errors.

I've looked at the code and it appears at line 1181, instead of:

        for pname in PartitionStatCollector.DATA_NAME, PartitionSta

[2015-07-24 15:48] spritchard commented on #27
Correction to line number - should be 1811. Apologies.

[2015-07-24 20:14] hjacobs commented on #27
Thanks for reporting!

[2015-07-27 15:22] spritchard commented on #27
I've realised the fix isn't quite as simple as I thought! In further testing I found that I was still getting the error messages. The reason was that df_out =

So "pname in df_out" is true, which means that self._transform_input(...) - with df_out[pname] empty.

I next tried replacing "if pname in df_out:" with

but I then got:

i.e. the call to self.get_io_data(...) that follows needs to have res

[2015-07-27 15:53] hjacobs commented on #27
I guess @alexeyklyukin has to check this :-)

[2015-07-27 16:30] alexeyklyukin commented on #27
Hi,

Thanks for reporting this and researching the root cause.
The original purpose for those messages were detecting the edge cases where the kernel on the machine doesn't provide necessary information (since pg_view is reading a lot from /proc files). Apparently, something went wrong here, I'll take a look.

[2015-07-29 09:39] alexeyklyukin commented on #27
@spritchard Thank your for the diagnostics, I pushed a simple fix (6f505b3b1a02251ec9f7139c6b909bd3a4115692), changing the transformation functions to act in a more sane way. Please, reopen the issue if you still have a problem with this fix.

[2015-07-29 09:39] #27 closed

[2015-07-29 13:24] spritchard commented on #27
Many thanks for addressing this so quickly. I've tested the new version (6f505b3) and I no longer get the error messages.

[2015-08-03 14:25] spritchard opened #28 "Units for await?"
I'm watching the values that pg_view displays in the 'await' column, and I'm seeing numbers as high as "465146.3".
If I run "iostat -dx 1" at the same time, I'm typically seeing 0 - 50ms in the 'await' column, max 500ms.

What units does pg_view display 'await' in?
Is it micro-seconds? If so, why? Why not display in milli-seconds the same as iostat?

I looked in "README.md", however this doesn't m

[2015-08-03 15:03] alexeyklyukin commented on #28
If you trigger the measurement units ('u') it will show this is in milliseconds.
The value itself is taken from /proc/diskstats, and is a last (#14) field from this file, and #11 if you don't count name fields.

Here's how it is described in the Documentation/iostats.txt for the Kernel:

Field 11 -- weighted # of milliseconds spent doing I/Os
    This field is incremented at each I/O start, I/O co

[2015-08-21 11:56] kmoppel opened #30 "Minor version of Postgres is not displayed"
Version info shown in the below row could be extended or maybe would be even nice to show the full version() output in the bottommost line next to pg_view version info.

mydb 9.3 master database connections: 149 of 500 allocated,                7 active

[2015-08-21 12:01] a1exsh commented on #30
That would be nice.  Then maybe we should remove the version from per-db status header...

[2015-08-21 12:06] a1exsh opened #31 "Fit the bottom line menu to 80 cols"
With my current version (1.2.0) the bottom line menu doesn't fit into standard default terminal width.  I think we could use less verbose description in the menu and provide full description in the help screen:

    s: system f: freeze u: units a: autohide t: trim r: realtime h: Help    v.1.2.0

Thoughts?

[2015-08-21 13:11] a1exsh commented on #30
Actually, the bottom line would not work, since there might be a number of clusters running on a single host and pg_view will try to inspect them all.

[2015-08-21 14:35] a1exsh commented on #30
Quick test shows that the full version() isn't really helpful, it only takes extra space for little valuable info.  See PR #32 for a simpler solution.

[2015-08-25 11:36] kmoppel commented on #30
Thanks @a1exsh !

[2015-08-25 11:36] #30 closed

[2015-11-24 13:51] kmoppel opened #37 "Monitoring backends of a single database only"
Somekind of command line flag would suffice here I think.

[2015-12-16 12:52] sgnatjuk commented on #7
Hi!
I have a similar problem. When you run the pg_view - I get the error:

unable to connect to PostgreSQL cluster at /var/lib/pgsql/9.2/data using any of the detected connection options: {'unix': [('/tmp', '5432')], 'tcp6': [('0000:0000:0000:0000:0000:0000:0000:0000', '5432')], 'tcp': [('0.0.0.0', '5432')]}
No suitable PostgreSQL instances detected, exiting...
hint: use -v for details, or specify

[2015-12-16 13:02] alexeyklyukin commented on #7
Looks like your cluster is not listening to tcp connections, and that your unix_socket_directory is set to something outside of /tmp, so basically, pg_view is unable to detect your connection credentials. You can set them.
You can either change your unix_socket_directory to point to /tmp, enable TCP connections (and make sure pg_view can connect via pg_hba.conf), or write a configuration file for

[2015-12-16 13:21] sgnatjuk commented on #7
Thank's
But ...

I use similar programs:
1. pg_activity -U postgres
2. https://github.com/gleu/pgstats
And it works ??
Do not tell me, for my case should look Conf. file ?

[2015-12-16 13:24] sgnatjuk commented on #7
pg_activity -p 5432 -U postgres -d work-test

[2015-12-16 13:30] sgnatjuk commented on #7
т.е. другие программулинки работают. Я не большой спец в nix, можете дать рекомендации для начинающих, как правильно поднастроить систему (если в этом дело). Может системные переменные какие-нибудь посмотреть или еще чего??

[2015-12-16 13:31] alexeyklyukin commented on #7
What is the value of unix_socket_directories (or unix_socket_directory, if your PostgreSQL version is below 9.3), and listen_addresses? You can get them by asking the running server:

show unix_socket_directories
show listen_addresses.

The configuration file format is described in the documentation.
[code]

[2015-12-17 09:30] sgnatjuk commented on #7
Hi!
Please tell me if I could talk with his you in their native language?
I am afraid that I can not describe the problem in detail.
I use a special patched version postgreskl to 1S8.
Link - https://www.postgrespro.ru/products/1c_build
Most likely this problem.
In Conf. File specified: #unix_socket_directory = '' # (change requires restart)

The parameter description is written:
An empty value spe

[2015-12-17 10:05] alexeyklyukin commented on #7
Please, connect to the running PostgreSQL server and run:

show unix_socket_directory;
show listen_addresses;
show port;

and post the output.

If I were to guess, I'd say that your unix_socket_directory points to /var/run/postgresql, as your directory layout looks similar to the standard PostgreSQL on Debian/Ubuntu. pg_view has no means of finding it out, so it fails (your libpq library, being co

[2015-12-17 10:29] sgnatjuk commented on #7
1. show unix_socket_directory;
[root@PostgreSQL-1C8 pg-view-1.2.0]# psql -U postgres
psql (9.2.14)
Введите "help", чтобы получить справку.

postgres=# show unix_socket_directory;
 unix_socket_directory
-----------------------

(1 строка)

postgres=#
2. show listen_addresses;
postgres=# show listen_addresses;
 listen_addresses
------------------
 *
(1 строка)

postgres=#

3. show port;
postgres=# s

[2015-12-17 10:35] alexeyklyukin commented on #7
Please, get the *latest* pg_view from github (git clone https://github.com/zalando/pg_view.git)
Run it as a postgres user, not as a root.

[2015-12-17 11:14] sgnatjuk commented on #7
how to remove pg-view-1.2.0

[2015-12-17 11:15] alexeyklyukin commented on #7
I believe you can do pip uninstall pg_view, if it was installed from pip, but you don't need to remove it, just clone the new one, and run it with python ./pg_view.py [options] from inside the newly cloned pg_view directory.

[2015-12-17 11:16] alexeyklyukin commented on #7
Actually, if you tried to run pg_view under the root user previously, try to run it as a postgres user first.

[2015-12-17 11:22] sgnatjuk commented on #7
this is the correct reference? - https://pypi.python.org/packages/source/p/pg-view/pg-view-1.2.0.tar.gz

[2015-12-17 11:25] alexeyklyukin commented on #7
This is the link to 1.2.0 that you  already have on your server.
Please, get the latest version from github by doing git clone https://github.com/zalando/pg_view.git

[2015-12-17 11:34] sgnatjuk commented on #7
Sorry for dullness, but you can not just give you a link to download the archive

[2015-12-17 11:46] sgnatjuk commented on #7
./pg_view.py -d "host=/var/run/postgresql port=5432 user=postgres dbname=postgres" work
thanks

[2015-12-17 11:54] alexeyklyukin commented on #7
There is no archive link, since the github master changes are not packaged yet.

[2015-12-17 11:54] alexeyklyukin commented on #7
Actually, I think pg_view can do better, in particular, try to use the defaults libpq is compiled with. I'll file a new issue, thank you for reporting.

[2015-12-17 11:56] alexeyklyukin opened #38 "pg_view should take advantage of libpq defaults"
In particular, when unix_socket_director(y|ies) is changed at compilation time to something outside of the the default '/tmp', pg_view should pick up the new default option.

[2015-12-18 09:16] a1exsh opened #39 "pg_view should accept connection string/URI or the usual set of postgres client -h,-p,-U,-d options on command line"
I'm surprised it does not, in order to specify a connection one has to create a config file first?

[2015-12-18 09:22] alexeyklyukin commented on #39
The idea was that it should auto detect all PostgreSQL instances running on the machine, but yes, being able to specify individual connections would be an improvement.

[2015-12-18 09:31] a1exsh commented on #39
Would it also be possible to run it remotely and skip all the /proc stuff?  I would still find it useful, e.g. now I'm in a docker container which only has psql-9.1 with no \watch command.  I thought I'd use pg_view to monitor pg_stat_activity, but no luck.  The DB itself RDS, so I can't run pg_view on the DB host.

[2015-12-18 09:39] a1exsh commented on #39
For now emulating with a shell loop: `while true; do echo '<query>;'; sleep 5; done | psql ... ` ;-)

[2015-12-18 09:49] alexeyklyukin commented on #39
No, it's not possible at the moment to run pg_view remotely, although it's a use case I would like to address in the future.

[2015-12-29 09:27] alexeyklyukin commented on #31
Works for me with 80x25 window, what's your standard size?

[2015-12-29 09:31] a1exsh commented on #31
It does now, because it was addressed by this commit: https://github.com/zalando/pg_view/commit/6e3fcdc1391ab76f6c03dac6fe1fc2d91eb691a6 :)

Closing this issue.

[2015-12-29 09:31] #31 closed

[2015-12-29 09:34] alexeyklyukin commented on #31
Thank you!

[2015-12-29 13:45] kmoppel commented on #26
Also an idea would be to have a possibility to show only queries from a specific (list/pattern) of user, and then also other queries that are being blocked by this user.

[2015-12-29 15:48] alexeyklyukin commented on #39
Fixed at https://github.com/zalando/pg_view/pull/40

[2015-12-29 15:48] #39 closed

[2015-12-29 15:48] alexeyklyukin commented on #38
Fixed at https://github.com/zalando/pg_view/pull/40

[2015-12-29 15:48] #38 closed

[2015-12-29 16:00] a1exsh opened #42 "Unicode strings support when run with Python2"
Appears to be missing at the moment.

[2016-01-04 21:06] alexeyklyukin commented on #23
Done at https://github.com/zalando/pg_view/commit/527eeb387db00107665a7506dafc35af81293fc5

[2016-01-04 21:06] #23 closed

[2016-01-05 08:34] hjacobs commented on #23
The long description rendering is still broken for the current package: https://pypi.python.org/pypi/pg-view
I would close this issue only after the PyPI display is correct :smirk:

[2016-01-05 09:16] alexeyklyukin commented on #23
Of course it is, since nothing new was pushed to pypi :-) I think I need you to add me to the list of package owners, so I can release the new version.

[2016-01-05 09:18] hjacobs commented on #23
@alexeyklyukin sure, what's your PyPI username?

[2016-01-05 09:28] alexeyklyukin commented on #23
okliukin

[2016-01-05 09:48] hjacobs commented on #23
@alexeyklyukin you are now "owner" of the `pg-view` package: https://pypi.python.org/pypi?:action=role_form&package_name=pg-view

[2016-02-08 17:06] LappleApple commented on #12
Hi--this issue dates back to Oct 30, 2014. Was it resolved? Can we close it?

[2016-02-08 17:07] LappleApple commented on #19
This was done -- I vote on closing out this issue

[2016-02-10 08:42] hjacobs commented on #19
IMHO this is not really done, the latest package upload is from June 2015: https://pypi.python.org/pypi/pg-view

[2016-02-10 08:49] hjacobs opened #44 "Travis CI build is failing (flake8)"
See https://travis-ci.org/zalando/pg_view
[code]

[2016-02-10 09:41] LappleApple commented on #19
What's the next step?

[2016-02-10 09:54] alexeyklyukin commented on #44
flake8 warnings are a moving target :-) Fixed, thank you!

[2016-02-10 11:08] alexeyklyukin commented on #19
I have just released the new version https://pypi.python.org/pypi/pg-view. Let's close this issue.

[2016-02-10 11:08] #19 closed

[2016-02-10 11:08] #44 closed

[2016-02-10 11:08] #28 closed

[2016-02-10 11:11] alexeyklyukin commented on #12
Not yet

[2016-03-04 09:18] dturon opened #45 "freeze - doesn't freeze time on screen"
Hi,

i freeze screen, then look later (forgot write somewere freezing time) - but on screen isn't information about freezing time (only uptime of machine - so can make some diff between but its not much comfortable:) ). Maybe would be good freeze running time on screen or show somewere freezing time.

Thanks!

[2016-03-04 18:25] alexeyklyukin commented on #45
We never had this use case in mind, but looks like a good idea.

[2016-03-10 14:03] kmoppel opened #46 "Idea: a built in webserver providing similar view on activity data"
So basically an addition option to run the script in daemon mode and provide an HTML view + also JSON data

[2016-03-22 09:18] kmoppel opened #47 "Filter activites by a username pattern"
Currently there's a "--pid" flag but in practice pid's can change so fast that tracking by username would be more helpful

[2016-03-22 09:25] alexeyklyukin commented on #47
yeah, thanks. Also it would be useful to have tracking by some regexp in the query (or username). Additionally, one should be able to show the related queries even if they are idle (right now even pid-related tracking do not show the idle queries for this pid).

[2016-03-22 11:16] kmoppel opened #48 "feature idea - "stats mode""
Show only counts of active connections, exceptions, tx, load, xlog written (and other available numeric values) as 10s,1m,5m averages. Even better would be graphs. Currently there is no memory besides "uptime" available, so it's impossible to see if there has been some recent change in metrics if we keep pg_view running in background while we do some ops.

[2016-04-13 04:32] a1exsh opened #49 "Don't die if connection to one of the monitored servers is lost"
If pg_view is used to monitor a number of clusters on a single screen and we lose connection to just one of them (due to restart by the administrator, for example), pg_view dies with connection error.

It would be nice if we could continue to display data for the servers we still have the connections to, and ideally, resume the lost one once the server is back.

[2016-04-13 05:33] kmoppel commented on #49
+1

[2016-04-13 06:22] a1exsh commented on #49
See #51

[2016-04-13 08:43] a1exsh commented on #49
Merged :-)

[2016-04-13 08:43] #49 closed

[2016-04-27 16:13] bhazuka opened #56 "Upgrade so application will run on Python 3 code base"
It would be valuable now that Python 3 is more widely accepted to run on the Python 3 code base as well as the python 2.x code base. Starting the conversion now will also help make the application viable as Linux distros and users move to Python 3 as the base.

[2016-05-16 11:56] michalgutkowski opened #57 "displaying hostname?"
hi, I couldn't find that feature, but it would be useful to display client hostname/ip for the process... is that possible?

[2016-05-17 12:42] alexeyklyukin commented on #57
Hi, no, at the moment hostname/ip is not displayed. It can be added relatively easily (hack PGStatCollector to show the information obtained from pt_stat_activity), but will not be included in the master until there is a way to customize which fields from the pg_stat_activity to show.

[2016-05-24 14:42] LappleApple opened #58 "Add a CONTRIBUTING.md"
Also, I would identify 2-3 issues/enhancements that are good candidates for community to-do's and add them in the README. I could do the README add, if you share the issue #'s here.

[2016-06-23 12:31] hunleyd opened #60 "support for OSX"
Currently if you try to run the tool on OSX, it outputs `Non Linux database hosts are not supported at the moment. Can not continue` which is understandable for a new tool, but I know a lot of people who do their devel on their macbooks and then deploy onto Linux servers/vms and being able to use the tool on OSX would be great.

[2016-07-13 16:12] alexeyklyukin commented on #60
I guess nowadays a lot of people running their databases in the docker containers, so with the native Docker for OS X this is less an issue. However, adopting pg_view to non-Linux systems would be more or less straightforward with psutil, while we don't currently plan to do that, we'd welcome contributions.

[2016-07-15 15:09] LappleApple opened #62 "Needs Maintainers File, Contributor Guidelines"
LMK if you need help adding.

[2016-08-01 11:39] LappleApple commented on #12
@alexeyklyukin @kmoppel Hi! How about now? Or might we re-tag with "Help Wanted"?

[2016-08-01 11:40] LappleApple commented on #25
@kmoppel @alexeyklyukin This issue is +1 year old. :) How might we resolve?

[2016-08-01 11:41] LappleApple commented on #26
@kmoppel @alexeyklyukin Same question as for Issue #12. We could re-tag as "Help Wanted" and try to pitch these enhancements as contribution opportunities  ...

[2016-08-01 11:43] LappleApple commented on #62
@alexeyklyukin @hjacobs @a1exsh @CyberDem0n @valgog Hi again, checking in on this. Who might be maintaining this now?

[2016-08-01 11:43] #58 closed

[2016-08-01 11:45] LappleApple commented on #60
@hunleyd Hi! Thanks for your interest in this project -- were you interested in making the contribution that @alexeyklyukin?

[2016-08-01 11:47] LappleApple commented on #45
Hi @dturon -- thanks for your interest in this project. Would you be interested in contributing to this project with the enhancement you suggest?

[2016-08-01 11:47] LappleApple commented on #42
@a1exsh @alexeyklyukin Has this been resolved? :)

[2016-08-01 12:04] alexeyklyukin commented on #12
Yes, help wanted would be good (for all pg_view requests). Otherwise, we would have to wait even longer.

Oleksii.

[2016-08-01 12:05] alexeyklyukin commented on #62
I'm maintaining this, but not doing any active development.

[2016-08-01 12:08] hunleyd commented on #60
interested? yes. capable? not until i learn the language :(

[2016-08-01 12:09] LappleApple commented on #60
@hunleyd Understood. Good luck!

[2016-08-01 12:10] LappleApple commented on #62
@alexeyklyukin OK. I'll make the file

[2016-08-01 12:19] #62 closed

[2016-09-03 12:52] sebastianwebber opened #66 "AttributeError: 'PgstatCollector' object has no attribute 'format'"
Hi There,

There is some configuration to fix this error? pg_view work by less than 30 seconds, then crash:

[code]

About my enviroment:

[code]

Any ideias?

[2016-09-05 09:24] a1exsh commented on #66
@sebastianwebber this is a typo, thank you for spotting it.  The fix is in #67.

[2016-09-15 10:02] RoelAdriaans opened #68 "Incompatible with postgresql 9.6"
Postgresql 9.6 RC1 has been released, and there are some changes in the schematic.

When you run pg_view you get the error:

[code]

From the RC release notes ( https://www.postgresql.org/docs/9.6/static/release-9-6.html ):

New pg_stat_activity information:
https://www.postgresql.org/docs/9.6/static/monitoring-stats.html#PG-STAT-ACTIVITY-VIEW

[2016-09-20 07:57] a1exsh commented on #68
A fix for this was committed as early as April this year: https://github.com/zalando/pg_view/commit/43e1c21c60948ba516ac29325e6cab58326be568

You might want to use a version from master, and we might want to release a new version ;-)

[2016-09-20 07:57] #68 closed

[2016-10-30 22:56] rsiera commented on #60
I'm interested in making this contribution, actually I've already started, so hope it's still valid ;) Btw. I'll be willing to add tests and do some refactor - currently I am working on that in one branch, but will be able to send separate pull requests.

[2016-10-31 07:07] alexeyklyukin commented on #60
@rsiera sure, you are welcome. Could you describe briefly how are you going to solve the problem? Are you planning on incorporating https://github.com/giampaolo/psutil, or reimplementing the /proc routines in a MacOS compatible way?

[2016-10-31 07:13] Reveluprsieradzki commented on #60
Ok, great, I've added pustil to the project so it can be platform-independent. Need some time to verify if everything will work. Is it acceptable solution, or do you prefer the second one ?

[2016-10-31 07:21] rsiera commented on #60
Ok, great, I've added psutil to the project so it can be platform-independent. Need some time to verify if everything will work. Is it acceptable solution, or do you prefer the second one ?

[2016-10-31 07:55] alexeyklyukin commented on #60
@rsiera psutil is what I had in mind as well, so, please, go ahead.

[2017-02-07 11:28] LappleApple commented on #57
@alexeyklyukin Hey, this issue's from May 2016; can we close it? Or add a label?

[2017-02-07 12:02] LappleApple commented on #48
@slitsche @a1exsh Hey, can we close this issue? It dates back to March 2016.

Or, we could add a "Help Wanted" label, and maybe @kmoppel or someone else would like to work on it.

[2017-02-07 12:31] LappleApple commented on #56
Hello @bhazuka: I'm going through our old GitHub issues and just found this. Looks like nobody responded to you; accept our apologies. Are you still interested in this project? Would you like to contribute the request? cc'ing @alexeyklyukin for his two cents on what to do here.

[2017-02-07 12:39] hjacobs commented on #56
I'm totally for migrating to Python 3 (or at least supporting it).

[2017-02-07 12:41] CyberDem0n commented on #56
I am not so sure about pg_view installed from pypi, but pg_view.py in the master works with Python 3 for ages.

[2017-02-07 12:43] LappleApple commented on #47
@alexeyklyukin Do you want to add a "Help Wanted" label?

[2017-02-07 12:56] LappleApple commented on #46
Hey @alexeyklyukin, want to add a "Help Wanted" label here?

[2017-02-07 13:52] LappleApple commented on #37
Hi @a1exsh @slitsche, are you planning on doing this? If not, let's either close or add a "Help Wanted" label.

[2017-02-07 15:14] LappleApple commented on #25
@alexeyklyukin Is this still relevant?

[2017-02-07 15:16] CyberDem0n commented on #25
I'm not @alexeyklyukin, but I can answer: yes, it is still relevant and I believe https://github.com/zalando/pg_view/pull/70 should fix it

[2017-02-07 15:18] LappleApple commented on #25
Thanks, @CyberDem0n

[2017-02-13 12:07] kmoppel commented on #37
Hey, created PR https://github.com/zalando/pg_view/pull/72

[2017-03-06 11:51] LappleApple commented on #57
@alexeyklyukin Trying again on my last question

[2017-03-06 12:00] alexeyklyukin commented on #57
@LappleApple makes sense, thanks, I've added a label.

[2017-03-17 13:37] spritchard opened #82 "Error message: Unable to read free space information for the pg_xlog..."
When I run pg_view, it is repeatedly outputting the message:

Unable to read free space information for the pg_xlog and data directories for the directory             /pgsql/9.5/data: [Errno 13] Permission denied: '/pgsql/9.5/data/pg_xlog/lost+found'

This makes the pg_view display unreadable.

I think the reason that this is happening is because I have /pg_xlog mounted on a separate partition (sy

[2017-03-17 17:08] alexeyklyukin commented on #82
Thanks for your report.

The problem is that the gatherers for the directory information are running in separate threads, and the stderr output is disabled after those gatherers start.

The fix is in progress.

[2017-05-16 19:17] erthalion opened #83 "PG 10 issues"
Hello,

I tried to use `pg_view` on PG10, and found two issues:

* at least on my installation `PG_VERSION` contains just `10`, so this code is causing an error about uninitialized variable `version`:

[code]

* `pg_xlog` was renamed to `pg_wal` (see the corresponding [message](https://www.postgresql.org/message-id/flat/CAB7nPqTu0y8uxbqXYjUObW9Oq4jnZxcPv_uTwstparBBjsrbQg%40mail.gmail.com#CAB7nPqTu

[2017-06-06 15:47] LappleApple commented on #83
Hello @erthalion, would you be up for making a bug fix/PR here? Then we can review and get this fixed faster for you.

[2017-06-10 19:55] erthalion commented on #83
From what I see #84 should be enough for the "pg_wal" part, and we can forget about an issue with `PG_VERSION`, since on the current PG10 beta1 everything is fine.

[2017-06-12 09:11] alexeyklyukin commented on #83
Fixed in #84

[2017-06-12 09:11] #83 closed

[2017-06-13 15:12] xa72 opened #85 "local variable 'dbver' referenced before assignment"
Hi there:
--snip--
$ pg_view -c /path/to/pg_view.conf -i xxx
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/pg_view/__init__.py", line 253, in main
    collector = DetachedDiskStatCollector(q, work_directories, dbver)
UnboundLocalError: local variable 'dbver' referenced before assignment
---snap--
Ubuntu 14.04 LTS, 64bit, PG 9.6, single local db (no cluster), running pg_vi

[2017-06-30 08:00] Vampouille opened #88 "Problem with version number"
[code]

[2017-06-30 16:59] alexeyklyukin commented on #88
The issue is related to running pg_view under python3. #89 should fix it, you can check if it solves the issue on your system.

[2017-07-23 18:31] bradleyf opened #90 "Accept Password"
Is there a cli parameter for specifying a db user password?    If not, would you please add one?

[2017-08-07 06:12] hjacobs commented on #66
@a1exsh I ran into the same bug today in one of our data centers... :disappointed:

[2017-08-09 10:08] alexeyklyukin opened #93 "Report waiting processes with a special color and the type of the event they are waiting for"
For PostgreSQL 9.6, the wait events collect much more types of waits than a heavyweight locks used in the prior versions. We could report them to the user, as well as highlighting such backends with a color that is different from the one used by 'locked' processes nowadays (i.e. report 'locked' processes with red, report waiting processes that are not 'locked' in another color, together with the w

[2017-11-14 09:54] fluca1978 opened #96 "Unable to read postmaster.pid for default"
I've a remote FreeBSD machine running PostgreSQL 9.6.5 (procfs enabled, if that matters). From an ubuntu machine I try to use pg_view installed from the repostiory (de5325ac50).

Now when I try to start the pg_view command I have the error in the subject:

[code]

I'm using python 2.7.
Of course, PostgreSQL is running, as well as the postmaster.pid file is in place.
What am I missing?

[2017-11-14 10:19] alexeyklyukin commented on #96
Queries from the system other than the one the database is running at are not supported, as pg_view uses information from local /proc in order to deliver system statistics. That is also the reason behind the fact that pg_view is currently Linux only. We would very much like to address both in 2.0, by allowing the system be collected by sprocs inside the remote database and querying the results fro

[2017-12-06 22:17] dutran123 opened #97 "pg_is_in_recovery() does not exist"
I am using Postgres 8.4 and get this error when running pg_view:

Traceback (most recent call last):
  File "./pg_view.py", line 3517, in main
    pg = PgstatCollector(cl['pgcon'], cl['reconnect'], cl['pid'], cl['name'], cl['ver'], options.pid)
  File "./pg_view.py", line 922, in __init__
    self.recovery_status = self._get_recovery_status()
  File "./pg_view.py", line 1314, in _get_recovery_stat

[2017-12-07 09:02] alexeyklyukin commented on #97
Well, it doesn't exist, since anything before 8.4 does not support running queries on the nodes other than primary ones aka hot standby. 8.4 is EOL for 3,5 years (https://www.postgresql.org/support/versioning/), it makes more sense to spend time on upgrading ASAP from it rather than on supporting it.

If you still, for some wrong reason, insist on running 8.4, you can change your local pg_view, re

[2017-12-07 10:51] #97 closed

[2017-12-07 16:23] dutran123 commented on #97
Thank you.  I commented out entire def _get_recovery_status(self):  function and any calls to it such as self._get_recovery_status().  I found a role = self._get_recovery_status and set that to role='master'.  Was that what you meant?  Doing that didn't help though.

Traceback (most recent call last):
  File "./pg_view.py", line 3525, in main
    loop(collectors, consumer, groups, output_method)

[2018-02-28 15:18] a1exsh opened #98 ""No such file or directory" error when reading free space information"
Just got this failure on v1.3.1.  Was running fine for some minutes and then crashed:
[code]
Looks like a race condition with listing directory contents and trying to get size information on individual files in the loop.

[2018-05-24 23:31] nri-pl opened #100 "support for PostgeSQL 10.0+"
[code]

# cat /proc/<PG PID>/cwd/PG_VERSION
10

[code]

I do not understand why "len(val) >= 3"
"len(val) >= 1" should be enought.

[2018-05-25 07:10] hjacobs commented on #100
@nri-pl thanks for reporting!

[2018-05-25 14:35] alexeyklyukin commented on #100
This looks like an old (one single file) version of pg_view. We moved one for more than a year.

It's a valid point. That has been fixed at https://github.com/zalando/pg_view/pull/89
Feel free to give it a spin

[2018-08-24 09:50] #96 closed

[2018-10-10 23:08] MichaelDBA opened #101 "Error running pg_view against PG 11.1"
Perhaps it is not supported yet, but this is the error I get when running pg_view --verbose:
[code]

[2018-12-17 14:05] MichaelDBA commented on #101
Can I get a status update?

[2018-12-17 14:14] CyberDem0n commented on #101
How did you installed it?
Master branch is working fine with PG 11

[2018-12-17 17:22] MichaelDBA commented on #101
It is working now, but still a problem trying to specify a configuration file instead of command line parameters

[2018-12-17 17:22] #101 closed

[2019-05-07 09:56] pmpetit commented on #101
Hello,
i have the same pb with pgsql 11.1
postgres-0:~$ pg_view
Traceback (most recent call last):
  File "/usr/bin/pg_view", line 11, in <module>
    load_entry_point('pg-view==1.4.1', 'console_scripts', 'pg_view')()
  File "/usr/lib/python2.7/site-packages/pg_view.py", line 3470, in main
    postmasters = get_postmasters_directories()
  File "/usr/lib/python2.7/site-packages/pg_view.py", line 30

[2020-02-26 15:44] Liuzhj opened #102 "need pgview webui"
dear team,

i need to use pgview to monitor own pg db .
i want to know the pgview webui release time ?
look up it's usefull, thank you very much .

https://user-images.githubusercontent.com/1443395/37088392-7be43462-21fd-11e8-8ae2-e7fa2d3b2853.png

![image](https://user-images.githubusercontent.com/14147011/75361168-da3cc600-58f1-11ea-9db3-ec4f8e18cd17.png)

[2020-02-26 16:06] CyberDem0n commented on #102
This UI is using [bg_mon](https://github.com/CyberDem0n/bg_mon) as a backend.
In the bg_mon repo there is a rudimentary UI (bg_mon.html). It is maybe not so beautiful but fully functional.

Please pay attention that you'll have to add bg_mon into shared_preload_libraries and restart postgres. It might sound scary, but I consider it very stable, we run it on about 2000 clusters without issues.

[2020-02-27 02:14] Liuzhj commented on #102
@CyberDem0n
thank you very much .
i have some question, how to management and monitor multiple pg instance ?
maybe i have 10 single pg instance, and have 20 pg clusters with 3 members of patroni .

i want to know how to management 2000 clusters . it's so terrible for me now , please help me , thank you very much again.

[2020-02-27 15:50] Liuzhj commented on #102
i was down the source code and try to build for install.
occur some warning , it's can be ignore?  Is it necessary to solve?
![image](https://user-images.githubusercontent.com/14147011/75459900-b8a81100-59bb-11ea-8147-3aa698315f6a.png)

[2020-02-28 11:55] CyberDem0n commented on #102
These are warnings. You can ignore them.

[2020-02-28 11:55] #102 closed

[2020-02-28 15:20] nezda opened #103 "Install fails with Python 2 due to because of more-itertools version"
Attempting to install from current `master` source on a machine with python 2  with `sudo python setup.py install` fails with

[code]

Pinning `more-itertools` by adding `more-itertools==5.0.0; python_version <= '2.7'` after https://github.com/zalando/pg_view/blob/de5325ac502647d2186a9355c8520963ceb62274/requirements.txt#L2 worked for me

[2020-06-09 08:06] court-jus commented on #90
This issue has no "help wanted" tag, is a pull request welcome?

[2021-03-06 09:01] pcouas opened #106 "pg_view in docker ?"
Hi,

Could i found Pg_view packaged in an Docker solution for my Postgres 11, like PgWatch2 ?

Regards
Phil

[2021-07-16 14:57] tmotyl commented on #98
I've got the same issue with v 1.4.1 on python 2.7

[code]

[2021-07-16 14:58] tmotyl commented on #98
duplicate? https://github.com/zalando/pg_view/issues/82